DATABASE_URL=
GOOGLE_API_KEY=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_ENDPOINT=
FIRECRAWL_API_KEY=
TAVILY_API_KEY=
EXA_API_KEY=
WEATHER_API_KEY=